%li.item{:id => item.id}
  .complete
  .body
    =h(item.body)
  -form_for item, :url => list_item_path(@list, item, :format => :js), :html => {:style => "display:none"} do |form|
    =form.text_field :body, :class => "item_body"