%li.item{:id => item.id}
  .complete
  .body
    =h(item.body)
    (#{item.list.name})
  -form_for [@list, item], :html => {:style => "display:none"} do |form|
    =form.text_field :body, :class => "item_body"