%a.item{:id => item.id, :class => "#{'complete' if item.complete}"}
  %table
    %tr
      %td.left
        =check_box_tag "item[complete]", "1", item.complete, :class => "item_complete"
      %td.center
        .body
          =h(item.body)
        -form_for [@list, item], :html => {:style => "display:none"} do |form|
          =form.text_field :body, :class => "item_body"
      %td.right
        =link_to image_tag("delete.png"), list_item_path(@list, item), :method => :delete, :confirm => 'Delete?', :class => 'delete button'