-hidden ||= false
.item{:id => item.id, :class => "#{'complete' if item.complete}", :style => "#{'display:none' if hidden}"}
  .checkbox_wrapper
    =check_box_tag "item[complete]", "1", item.complete, :class => "item_complete"
  .body(title="double-click to edit")
    =h(item.body)
  -form_for [@list, item], :html => {:style => "display:none"} do |form|
    =form.text_field :body, :class => "item_body"
    =image_tag("loader_fff_on_ddd.gif", :class => "loader")
  
  .delete_wrapper
    =#link_to 'x', list_item_path(@list, item), :method => :delete, :confirm => 'Delete this item?', :class => 'delete button', :title => "delete"
    %a.delete.button(title="delete") x
    %span.confirm
      %a.cancel() cancel 
      %a.proceed() delete
    =#link_to image_tag("delete_lite.png"), list_item_path(@list, item), :method => :delete, :confirm => 'Delete this item?', :class => 'delete button', :title => "delete"
