#user[current_user]
  .nav
    =link_to 'new list', new_list_path, :class => "new_list button"
  %ul#lists
    -for list in @lists
      %li.list{:id => list.id}
        .handle(style="display:inline") DRAG
        .name(style="display:inline")
          =link_to h(list.name), list_path(list)
        .delete.button
          =link_to 'x', list_path(list), :method => :delete, :confirm => "Are you sure?"
        
:javascript
  $(document).ready(function() {
    $("#lists").sortable({axis:'y', handle:'.handle', update:function(event, ui) {
      var url = "#{reorder_lists_path}",
         data = {lists : $("#lists").sortable('toArray')};
      $.post(url, data, function(data) {
        
      }, "json");
    }});
  });
