-@title = "My lists"
#user[current_user]
  .nav
    =link_to 'create new list', new_list_path, :class => "new_list button"
  %ul#lists
    -for list in @lists
      %li.list{:id => list.id}
        .handle(style="display:inline") DRAG
        .name(style="display:inline")
          =link_to h(list.name), list_path(list)
          .items_count
            #{pluralize(list.active_items_count, "item")}
        =link_to 'x', list_path(list), :method => :delete, :confirm => "Delete this list?", :class => 'delete button', :title => "delete"
        
:javascript
  // dragging cursor works properly
  document.onselectstart = function () { return false; }
  $(document).ready(function() {
    $("#lists").sortable({axis:'y', handle:'.handle', tolerance:'pointer', containment:'parent', update:function(event, ui) {
      var url = "#{reorder_lists_path}",
         data = {lists : $("#lists").sortable('toArray')};
      $.post(url, data, function(data) {
        
      }, "json");
    }});
  });
