-@title = "My lists"
#user[current_user]
  .nav
    =link_to 'create new list', new_list_path, :class => "new_list button"
  %ul#lists
    -for list in @lists
      %li.list{:id => list.id}
        .handle(style="display:inline") DRAG
        .name(style="display:inline")
          =link_to h(list.name), list_path(list)
          .items_count
            #{pluralize(list.active_items_count, "item")}
        %a.delete.button(title="delete") x
        =#link_to 'x', "", :class => 'delete button', :title => "delete"
        %span.confirm_delete
          %a.cancel() cancel
          %a.proceed() delete
        
:javascript
  // dragging cursor works properly
  document.onselectstart = function () { return false; }
  $(document).ready(function() {
    $("#lists").sortable({axis:'y', handle:'.handle', tolerance:'pointer', containment:'parent', update:function(event, ui) {
      var url = "#{reorder_lists_path}",
         data = {lists : $("#lists").sortable('toArray')};
      $.post(url, data, function(data) {
        
      }, "json");
    }});
    
    $(".delete.button").click(function(e) {
      var confirmBox = $(this).siblings(".confirm_delete:first")
      if (confirmBox.css("display") == 'none')
        confirmBox.fadeIn(300);
      else
        confirmBox.find(".cancel:first").click();
    });
    
    $(".confirm_delete .cancel").click(function(e) {
      $(this).parents(".confirm_delete").fadeOut(300);
    });
    
    $(".confirm_delete .proceed").click(function(e) {
      var list = $(this).parents(".list"),
          listId = list.attr("id"),
          url = "/lists/" + listId + ".js",
          data = {'_method':'delete'};
      $.post(url, data, function(data) {
        if (data == 'ok') {
          list.find(".confirm_delete").fadeOut(300, function() {
            list.slideUp(500, function() {
              list.remove();
            });
          });
        }
      });
    })
  });
