-semantic_form_for @list do |form|
  -form.inputs do
    =form.input :name
  -form.buttons do
    =form.commit_button "create list"
    
:javascript
  $(document).ready(function() {
    $("#list_name").focus()
  });