-@title = "List: #{h(@list.name)}"
#list
  #info
    %a#name(title="click to edit" href="#")
      =h(@list.name)
    -form_for @list, :html => {:style => "display:none"} do |form|
      =form.text_field :name


  %ul#items.items
    -for item in @list.items
      -unless item.complete
        =render :partial => "lists/item", :object => item
        
  %form#new_item(method="post")
    =text_field_tag "item[body]"
    =submit_tag "add item"
      
  %ul#completed_items.items
    -for item in @list.items
      -if item.complete
        =render :partial => "lists/item", :object => item
  #hint hint: double-click an item to edit
        
:javascript
  // dragging cursor works properly
  document.onselectstart = function () { return false; }
  $(document).ready(function() {
    var new_item_body = $("#new_item #item_body");
    new_item_body.focus();
    
    bindNewItem($(".items .item"));
    
    $("#new_item").submit(function(e) {
      e.preventDefault();
      var url = "#{list_items_path(@list, :format => :js)}";
      $.post(url, $(e.currentTarget).serialize(), function(data) {
        $("#items").append(data);
        new_item_body.val('');
        bindNewItem($("#items .item:last"));
      });
    });
    
    function bindNewItem(item) {
      item.find(".item_complete").change(markComplete);
      item.find(".body:first").dblclick(editItem);
      
      //item.find(".item_complete:first").tipTip({defaultPosition:'top', fadeIn:0, fadeOut:0});
      item.find(".body:first").tipTip({defaultPosition:'right', fadeIn:0, fadeOut:0, delay:1500});
      //item.find(".delete.button:first").tipTip({defaultPosition:'top', fadeIn:0, fadeOut:0});
    }
    
    $("#items").sortable({axis:"y", containment:'parent', tolerance:'pointer', update:function(event, ui) {
      var data = {items : $("#items").sortable('toArray')};
      $.post("#{reorder_list_items_path(@list)}", data);
    }});
    
    function editItem(e) {
      var item = $(this).parents(".item:first"),
          form = item.find("form:first"),
          body = item.find(".body:first"),
          field = form.find(".item_body:first");
          
      body.hide();
      form.show();
      //field.focus();
      field.select();
      
      form.submit(function(event) {
        event.preventDefault();
        $.post(form.attr("action")+".js", form.serialize(), function(data) {
          body.text(data.body);
          form.unbind();
          form.hide();
          body.show();
        }, "json");
      });
      field.blur(function() {
        form.submit()});
    }
    
    $("#info #name").tipTip({defaultPosition:'right', fadeIn:0, fadeOut:0});
    
    $("#info #name").click(function(e) {
      var info = $(this).parents("#info:first"),
          name = $(this),
          form = info.find("form:first"),
          nameField = form.find("#list_name");
      name.hide();
      form.show();
      form.find("#list_name").select();
      function updateList(formEvent) {
        formEvent.preventDefault();
        $.post(form.attr("action")+".js", form.serialize(), function(data) {
          name.text(data.name);
          form.unbind();
          nameField.unbind();
          form.hide();
          name.show();
        }, "json");
      }
      form.submit(updateList);
      nameField.blur(updateList);
    });
    
    function markComplete(e) {
      var item = $(this).parents(".item:first"),
          url = "/lists/#{@list.id}/items/" + item.attr("id") + ".js",
          data = {'_method':'put', 'item':{'complete':false}};
      if (item.hasClass("complete")) {
        item.removeClass("complete");
        //$("#items").append(item);
      } else {
        item.addClass("complete");
        data.item.complete = true;
      }
      $.post(url, data);
    }
  });