-@title = "#{h(@list.name)}"
#list
  #info
    %a#name(title="click to edit" href="#")
      =h(@list.name)
    -form_for @list, :html => {:style => "display:none"} do |form|
      =form.text_field :name
      =image_tag("loader_ccc_on_eee.gif", :class => "loader")


  %ul#items.items
    -for item in @list.items
      -unless item.complete
        =render :partial => "lists/item", :object => item
        
  %form#new_item(method="post")
    =text_field_tag "item[body]"
    =submit_tag "add item"
    =image_tag "loader_ccc_on_eee.gif", :class => "loader"
      
  %ul#completed_items.items
    -for item in @list.items
      -if item.complete
        =render :partial => "lists/item", :object => item
        
:javascript
  // dragging cursor works properly
  document.onselectstart = function () { return false; }
  $(document).ready(function() {
    var new_item_body = $("#new_item #item_body");
    new_item_body.focus();
    
    
    
    bindNewItem($(".items .item"));
    function bindNewItem(item) {
      item.find(".item_complete").change(markComplete);
      item.find(".body:first").dblclick(editItem);
      var form = item.find("form:first");
      form.submit(submitItem);
      item.find('form:first input.item_body').blur(function() {form.submit()});
    }
    function editItem(e) {
      var item = $(this).parents(".item:first"),
          form = item.find("form:first"),
          body = item.find(".body:first"),
          field = form.find(".item_body:first"),
          loader = form.find(".loader:first");
      body.hide();
      form.show();
      //field.focus();
      field.select();
    }
    function submitItem(event) {
      event.preventDefault();
      var item = $(this).parents(".item:first"),
          form = item.find("form:first"),
          body = item.find(".body:first"),
          loader = form.find(".loader:first");
      loader.css("visibility", "visible");
      $.post(form.attr("action")+".js", form.serialize(), function(data) {
        body.text(data.body);
        form.hide();
        body.show();
        loader.css("visibility", "hidden");
      }, "json");
      return false;
    }
    
    
    
    $("#new_item").submit(function(e) {
      e.preventDefault();
      var url = "#{list_items_path(@list, :format => :js)}",
          loader = $(this).find(".loader:first");
      loader.css("visibility", "visible");
      $.post(url, $(e.currentTarget).serialize(), function(data) {
        $("#items").append(data);
        new_item_body.val('');
        bindNewItem($("#items .item:last"));
        loader.css("visibility", "hidden");
      });
    });
    
    
    
    $("#items").sortable({axis:"y", containment:'parent', tolerance:'pointer', update:function(event, ui) {
      var data = {items : $("#items").sortable('toArray')};
      $.post("#{reorder_list_items_path(@list)}", data);
    }});
    
    
    
    $("#info #name").click(function(e) {
      var info = $(this).parents("#info:first"),
          name = $(this),
          form = info.find("form:first"),
          nameField = form.find("#list_name"),
          loader = form.find(".loader:first");
      name.hide();
      form.show();
      form.find("#list_name").select();
    });
    function updateList(formEvent) {
      formEvent.preventDefault();
      var info = $(this).parents("#info:first"),
          name = info.find("#name"),
          form = info.find("form:first"),
          nameField = form.find("#list_name"),
          loader = form.find(".loader:first");
      loader.css("visibility", "visible");
      $.post(form.attr("action")+".js", form.serialize(), function(data) {
        name.text(data.name);
        form.hide();
        name.show();
        loader.css("visibility", "hidden");
      }, "json");
      return false;
    }
    $("#info form:first").submit(updateList);
    $("#info #list_name").blur(updateList);
    
    
    
    function markComplete(e) {
      var item = $(this).parents(".item:first"),
          url = "/lists/#{@list.id}/items/" + item.attr("id") + ".js",
          data = {'_method':'put', 'item':{'complete':$(this).attr("checked")}};
      if (item.hasClass("complete")) {
        item.removeClass("complete");
        //$("#items").append(item);
      } else {
        item.addClass("complete");
        data.item.complete = true;
      }
      $.post(url, data);
    }
  });