/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 15, ../../../app/stylesheets/screen.scss */
body {
  background-color: #ddd;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  color: #777;
}
/* line 20, ../../../app/stylesheets/screen.scss */
body #container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
/* line 24, ../../../app/stylesheets/screen.scss */
body #container #header {
  overflow: hidden;
  display: inline-block;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #ddd;
  padding: 16px 0 16px 0;
  margin-bottom: 1px;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body #container #header {
  display: block;
}
/* line 30, ../../../app/stylesheets/screen.scss */
body #container #header .logo_small {
  width: 21px;
  height: 21px;
  background-color: #ccc;
  float: left;
  margin-right: 8px;
}
/* line 38, ../../../app/stylesheets/screen.scss */
body #container #header #my_lists {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 42, ../../../app/stylesheets/screen.scss */
body #container #header #account {
  float: right;
}
/* line 44, ../../../app/stylesheets/screen.scss */
body #container #header #account .separator {
  color: #CC6600;
  font-weight: bold;
}
/* line 49, ../../../app/stylesheets/screen.scss */
body #container #header a:link {
  text-decoration: none;
}

/* line 55, ../../../app/stylesheets/screen.scss */
a:link {
  color: #888;
}
/* line 59, ../../../app/stylesheets/screen.scss */
a:visited {
  color: #888;
}
/* line 60, ../../../app/stylesheets/screen.scss */
a:hover {
  color: #aaa;
}

/* line 64, ../../../app/stylesheets/screen.scss */
.formtastic li {
  margin: 8px 0 8px 0;
}
/* line 65, ../../../app/stylesheets/screen.scss */
.formtastic label {
  display: block;
  margin-bottom: 8px;
}
/* line 69, ../../../app/stylesheets/screen.scss */
.formtastic abbr {
  color: #993333;
}
/* line 70, ../../../app/stylesheets/screen.scss */
.formtastic .inline-errors {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  display: inline;
  position: absolute;
  padding: 8px 16px 8px 16px;
  margin: 2px 0 0 8px;
  background-color: #CC3333;
  color: #fff;
  font-size: 0.8em;
}

/* line 81, ../../../app/stylesheets/screen.scss */
input[type="text"], input[type="password"] {
  padding: 5px;
  width: 350px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 87, ../../../app/stylesheets/screen.scss */
input[type="button"], input[type="submit"] {
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #aaa;
  padding: 7px 8px 7px 8px;
  color: #fff;
}
/* line 94, ../../../app/stylesheets/screen.scss */
input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #ccc;
}

/* line 98, ../../../app/stylesheets/screen.scss */
input[type="checkbox"] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -khtml-appearance: none;
  background-color: #888;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  margin: 0px;
}
/* line 106, ../../../app/stylesheets/screen.scss */
input[type="checkbox"]:hover {
  background-color: #aaa;
}
/* line 107, ../../../app/stylesheets/screen.scss */
input[type="checkbox"]:checked {
  background-color: #FFFFCC;
}

/* line 113, ../../../app/stylesheets/screen.scss */
#login_error {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  width: 7em;
  margin: 0 auto 16px auto;
  padding: 11px;
  color: #fff;
  background-color: #CC3333;
  font-weight: bold;
  display: inline;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#login_error {
  display: block;
}

/* line 124, ../../../app/stylesheets/screen.scss */
form#new_session {
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
form#new_session {
  display: block;
}
/* line 127, ../../../app/stylesheets/screen.scss */
form#new_session input[type="submit"] {
  width: 100px;
}
/* line 128, ../../../app/stylesheets/screen.scss */
form#new_session input[type="text"], form#new_session input[type="password"] {
  width: 110px;
}
/* line 129, ../../../app/stylesheets/screen.scss */
form#new_session a {
  display: inline;
  margin-left: 11px;
}

/* line 132, ../../../app/stylesheets/screen.scss */
.nav {
  overflow: hidden;
  display: inline-block;
  padding: 1.5em 0 38px 0;
  text-align: center;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.nav {
  display: block;
}
/* line 137, ../../../app/stylesheets/screen.scss */
.nav .new_list.button {
  padding: 0.8em;
  background-color: #888;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 144, ../../../app/stylesheets/screen.scss */
.nav .new_list.button:hover {
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -o-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

/* line 149, ../../../app/stylesheets/screen.scss */
#lists {
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#lists {
  display: block;
}
/* line 151, ../../../app/stylesheets/screen.scss */
#lists .list {
  overflow: hidden;
  display: inline-block;
  padding: 1em;
  padding-bottom: 1.2em;
  margin-bottom: 1px;
  background-color: #ccc;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#lists .list {
  display: block;
}
/* line 157, ../../../app/stylesheets/screen.scss */
#lists .list .handle {
  float: left;
  background-color: #888;
  color: #fff;
  font-size: 0.5em;
  padding: 0.5em;
  cursor: move;
  margin-right: 0.5em;
  cursor: url(/images/grab.png), default;
}
/* line 166, ../../../app/stylesheets/screen.scss */
#lists .list .handle:active {
  cursor: url(/images/grabbing.png), default;
}
/* line 168, ../../../app/stylesheets/screen.scss */
#lists .list .name {
  float: left;
  margin-left: 13px;
  width: 388px;
}
/* line 172, ../../../app/stylesheets/screen.scss */
#lists .list .name .items_count {
  display: inline;
  color: #888;
  font-size: 0.5em;
  font-weight: bold;
}
/* line 179, ../../../app/stylesheets/screen.scss */
#lists .list .delete.button {
  text-decoration: none;
  float: right;
}

/* line 187, ../../../app/stylesheets/screen.scss */
#list #info {
  text-align: center;
  margin: 8px 0 16px 0;
}
/* line 190, ../../../app/stylesheets/screen.scss */
#list #info #name {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}
/* line 197, ../../../app/stylesheets/screen.scss */
#list #info form {
  background-color: #ddd;
}
/* line 199, ../../../app/stylesheets/screen.scss */
#list #info form input[type="text"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 455px;
}
/* line 207, ../../../app/stylesheets/screen.scss */
#list form#new_item {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;
}
/* line 211, ../../../app/stylesheets/screen.scss */
#list form#new_item #item_body {
  width: 300px;
  margin-right: 11px;
}
/* line 212, ../../../app/stylesheets/screen.scss */
#list form#new_item input[type="submit"] {
  width: 80px;
}
/* line 214, ../../../app/stylesheets/screen.scss */
#list .items {
  background-color: #ddd;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
/* line 217, ../../../app/stylesheets/screen.scss */
#list .items .item {
  overflow: hidden;
  display: inline-block;
  cursor: url(/images/grab.png), default;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #999999;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #999999 100%);
  color: #fff;
  margin-bottom: 3px;
  font-size: 0.8em;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#list .items .item {
  display: block;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#list .items .item {
  display: block;
}
/* line 229, ../../../app/stylesheets/screen.scss */
#list .items .item:active {
  cursor: url(/images/grabbing.png), default;
}
/* line 230, ../../../app/stylesheets/screen.scss */
#list .items .item:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8c8c8), color-stop(100%, #a6a6a6));
  background-image: -moz-linear-gradient(top, #c8c8c8 0%, #a6a6a6 100%);
  background-color: #cccccc;
}
/* line 236, ../../../app/stylesheets/screen.scss */
#list .items .item .checkbox_wrapper {
  display: inline;
  float: left;
  padding: 16px;
  cursor: default;
}
/* line 243, ../../../app/stylesheets/screen.scss */
#list .items .item .item_complete {
  float: left;
}
/* line 246, ../../../app/stylesheets/screen.scss */
#list .items .item .body {
  text-shadow: #888888 -1px -1px 1px;
  padding: 12px 0 12px 0;
  float: left;
  width: 411px;
  font-weight: bold;
  line-height: 1.5em;
}
/* line 254, ../../../app/stylesheets/screen.scss */
#list .items .item .item_body {
  float: left;
  width: 411px;
  padding: 0px;
  margin: 12px 0 12px 0;
}
/* line 261, ../../../app/stylesheets/screen.scss */
#list .items .item .delete.button {
  float: right;
  padding: 13px;
}
/* line 263, ../../../app/stylesheets/screen.scss */
#list .items .item .delete.button:hover {
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  -o-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
/* line 267, ../../../app/stylesheets/screen.scss */
#list .items .item.complete {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #cccccc 100%);
  background-color: #cccccc;
}
/* line 271, ../../../app/stylesheets/screen.scss */
#list .items .item.complete .body {
  text-shadow: #aaaaaa -1px -1px 1px;
}
/* line 275, ../../../app/stylesheets/screen.scss */
#list #completed_items .item {
  cursor: default;
}
/* line 280, ../../../app/stylesheets/screen.scss */
#list #hint {
  display: none;
  text-align: center;
  padding: 16px;
  margin-top: 32px;
  color: #aaa;
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
