#home
  =link_to image_tag("logo_medium.png", :title => "Tinker the taskbot", :class => 'logo'), "/"
  #description
    #app_name
      %a(href="/")
        Tinker
        %span#task Task
      %br
      \----
      %span.foo>< -
      %span.bar>< -
      %span.baz>< -
      \---

    .pitch
      Simple, elegant todo lists


-if flash[:login_error]
  #error_wrapper
    #login_error
      =flash[:login_error]

-form_tag login_path, :id => 'new_session' do
  .fields
    %label.text(for="username")
      =text_field_tag :username
      %span.username username
    %label.text(for="password")
      =password_field_tag :password
      %span.password password
    %label.remember_label(for="remember_me")
      =check_box_tag :remember_me
      %span remember me
    =submit_tag "login", :id => "login_button"

  =link_to '(almost) instant <b>sign up</b>', new_user_path, :class => "signup"
  
:javascript
  $(document).ready(function() {
    $("#username").select();
    $("a.signup").click(function(e) {
      var username = $("#username").val(),
          password = $("#password").val(),
          href = $(this).attr("href") + "?user[username]=" + username + "&user[password]=" + password;
          
      if (username == 'username')
        username = '';
      if (password == 'password')
        password = '';
      
      if (username || password)
        $(this).attr("href", href);
      return true;
    });
    
    function toggleLabel(e) {
      var textField = $(this);
      setTimeout(function() {
        if (textField.val() != '')
          textField.animate({opacity:1}, 300);
        else
          textField.animate({opacity:0.7}, 300);
      }, 100);
    }
    var textField = $("label.text input");
    textField.bind("paste", toggleLabel);
    textField.keyup(toggleLabel);
    textField.change(toggleLabel);
  });