-@title = "Login"
-if flash[:login_error]
  #login_error 
    =flash[:login_error]

-form_tag session_path, :id => 'new_session' do
  .fields
    =text_field_tag :username
    =password_field_tag :password
    %label.remember_label(for="remember_me")
      =check_box_tag :remember_me
      remember me
    =submit_tag "login", :id => "login_button"

  =link_to 'sign up', new_user_path, :class => "signup"