-@title = "Login"
-if flash[:login_error]
  #login_error 
    =flash[:login_error]
-form_tag session_path, :id => 'new_session' do
  =text_field_tag :username
  =password_field_tag :password
  =submit_tag "login"
  =link_to 'sign up', new_user_path