#home
  =image_tag "logo_medium.png", :title => "Tinker the taskbot", :class => 'logo'
  #description
    #app_name
      Tinker
      %span#task Task
      %br
      \----------
    %ul.pitch
      %li darn-simple todo-list
      %li in-place sorting
      %li double-click editing


-@title = "Login"
-if flash[:login_error]
  #login_error 
    =flash[:login_error]

-form_tag session_path, :id => 'new_session' do
  .fields
    =text_field_tag :username
    =password_field_tag :password
    %label.remember_label(for="remember_me")
      =check_box_tag :remember_me
      remember me
    =submit_tag "login", :id => "login_button"

  =link_to '(almost) instant <b>sign up</b>', new_user_path, :class => "signup"
  
:javascript
  $(document).ready(function() {
    $("#username").select();
  });