-@title = "Sign up"
-semantic_form_for @user do |form|
  =render :partial => "users/form", :object => form
  -form.buttons do
    =form.commit_button "sign up"
    
:javascript
  $(document).ready(function() {
    $("#user_username").select();
  });