/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/box";
@import "compass/css3/text-shadow";

body {
  background-color: #eee;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  color: #777;
  #container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    #header {
      @include clearfix;
      padding: 16px 0 16px 0;
      a#my_lists {
        @include float-left;
        font-weight: bold;
        font-size: 1.2em;
      }
      #account {
        @include float-right;
        .separator {color: #CC6600; font-weight: bold;}
      }
      a {text-decoration: none;}
    }
    #footer {
      display: block;
      color: #ccc;
      padding: 32px 0 32px 0;
      text-align: center;
      a.feedback {
        display: block;
        color: #ccc;
        text-decoration: none;
        &:hover {@include opacity(0.8);}
      }
    }
  }
}

a {
  &:link {color: #888;}
  &:visited {color: #888;}
  &:hover {color: #aaa;}
}

.formtastic {
  li {margin: 8px 0 8px 0;}
  label {
    display: block;
    margin-bottom: 8px;
  }
  abbr {color: #993333;}
  .inline-errors {
    @include border-radius(8px);
    display: inline;
    position: absolute;
    padding: 8px 16px 8px 16px;
    margin: 2px 0 0 8px;
    background-color: #CC3333;
    color: #fff;
    font-size: 0.8em;
  }
}  
input[type="text"], input[type="password"] {
  border: {
    width: 3px;
    color: #ccc #fff #fff #ccc;
    style: solid;
  }
  background-color: #fff;
  color: #555;
  padding: 5px;
  width: 350px;
  @include border-radius(5px);
}
label {display: block;
}
textarea {
  width: 350px;
  height: 200px;
  padding: 5px;
  @include border-radius(5px);
  border: {
    width: 3px;
    color: #ccc #fff #fff #ccc;
    style: solid;
  }
}
input[type="button"], input[type="submit"] {
  border: none;
  @include border-radius(3px);
  background-color: #aaa;
  padding: 7px 8px 7px 8px;
  color: #fff;
  &:hover {background-color: #ccc;}
}

#login_error {
  @include border-radius(8px);
  @include clearfix;
  width: 7em;
  margin: 0 auto 16px auto;  
  padding: 11px;
  color: #fff;
  background-color: #CC3333;
  font-weight: bold;
}

#new_feedback {
  text-align: center;
  .fields {
    width: 350px;
    margin: 50px auto 0px auto;
    label {
      text-align: left;
      margin-bottom: 8px;
    }
    input {margin-bottom: 8px;}
  }
  input[type="submit"] {
    margin-top: 21px;
  }
}

#home {
  padding-left: 88px;
  @include clearfix;
  margin: 0 auto 21px auto;
  
  .logo {
    float: left;
    margin-right: 3px;
  }
  
  #description {
    margin-top: 25px;
    #app_name {
      font-family: 'courier';
      font-size: 2em;
      font-weight: bold;
      #task {
        margin-left: -0.5em;
        color: #aaa;
      }
    }
    .pitch {
  //    font-weight: bold;
      list-style: square;
      font-family: 'courier';
      color: #888;
      font-size: 1em;
      line-height: 1.5em;
  //    list-style: square;
      margin-left: 50px;
    }
  }
}

form#new_session {
//    @include clearfix;
  width: 300px;
  margin: 0 auto 0 auto;
  .fields {
    @include float-left;
    input[type="text"], input[type="password"] {
      display: block;
      margin-bottom: 8px;
      width: 283px;
      @include float-left;
    }
    label {
      @include float-left;
      margin: 11px 0 0 0;
    }
    input[type="submit"] {
      @include float-right;
      font-size: 1em;
      margin: 3px 0 8px 0;
    }
  }
  a.signup {
    @include border-radius(5px);
    margin-top: 16px;
    background-color: #aaa;
    color: #fff;
    @include float-right;
    padding: 16px;
    text-decoration: none;
    &:hover{background-color: #ccc;}
  }
}

.nav {
  @include clearfix;
  padding: 1.5em 0 38px 0;
  text-align: center;
  .new_list.button {
    padding: 0.8em 1em 0.8em 1em;
    background-color: #888;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    @include border-radius(8px);
    &:hover {@include opacity(0.8);};
  }
}


#lists {
  .list {
    @include clearfix;
    padding: 1em;
    margin-bottom: 1px;
    background-color: #ddd;
    .handle {
      @include float-left;
      background-color: #888;
      color: #fff;
      font-size: 0.5em;
      padding: 0.5em;
      cursor: url(/images/grab.png), move;
      &:active {cursor: url(/images/grabbing.png), move;};
    }
    .name {
      @include float-left;
      margin-left: 16px;
      width: 388px;
      .items_count {
        display: inline;
        color: #888;
        font-size: 0.5em;
        font-weight: bold;
      }
    }
    .delete.button {
      text-decoration: none;
      @include float-right;
    }
  }
}

#list {
  #info {
    text-align: center;
    margin: 3px 0 16px 0;
    #name {
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
    }
    form {
      input[type="text"] {
        margin: 0 auto 0 auto;
        width: 300px;
      }
      .loader {
        padding: 8px;
        position: absolute;
        visibility: hidden;
      }
    }
  }
  form#new_item {
    text-align: center;
    margin: 32px 0 25px 0;
    .fields{
      #item_body {width: 300px; margin-right: 11px;}
      input[type="submit"] {width: 80px;}
    }
    .loader {
      margin: 8px 0 8px 3px;
      position: absolute;
      visibility: hidden;
    }
  }
  .items {
    .item {
      @include clearfix;
      @include border-radius(5px);
      background-color: #ddd;
      color: #333;
      margin-bottom: 3px;
      font-size: 0.8em;
      cursor: url(/images/grab.png), default;
      &:active {cursor: url(/images/grabbing.png), default;}
      &:hover {@include opacity(0.7);}
      .checkbox_wrapper {
        @include float-left;
        padding: 11px;
        cursor: default;
      }
      .body {
        padding: 10px 0 8px 0;
        @include float-left;
        width: 388px;
        line-height: 1.8em;
      }
      input.item_body {
        @include float-left;
        width: 393px;
        padding: 0px;
        margin: 12px 0 12px 0;
      }
      .loader {
        @include float-left;
        margin: 12px 0px 12px 12px;
        visibility: hidden;
      }
      .delete_wrapper {
        .delete.button {
          @include float-right;
          padding: 12px;
          text-decoration: none;
          color: #aaa;
          &:hover {color: #c60;};
        }
      }
    }
    .item.complete {
      background-color: #eee;
      color: #aaa;
      .delete.button {@include opacity(0.8); &:hover {@include opacity(0.8);}}
    }
  }
  #completed_items {
    .item {cursor: default;}
  }
}