/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/box";
@import "compass/css3/text-shadow";

body {
//  background: url('/images/bg.png');
  background-color: #eee;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  color: #777;
  #container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    #header {
      @include clearfix;
      @include border-bottom-radius(8px);
      padding: 16px 0 16px 0;
      margin-bottom: 1px;
      #my_lists {
        @include float-left;
        font-weight: bold;
        font-size: 1.2em;
      }
      #account {
        //float: right;
        @include float-right;
        display: inline;
        .separator {
          color: #CC6600;
          font-weight: bold;
        }
      }
      a {text-decoration: none;}
    }
  }
}

a {
  &:link {
    color: #888; 
//    text-decoration: none;
  };
  &:visited {color: #888;}
  &:hover {color: #aaa;}
}

.formtastic {
  li {margin: 8px 0 8px 0;}
  label {
    display: block;
    margin-bottom: 8px;
  }
  abbr {color: #993333;}
  .inline-errors {
    @include border-radius(8px);
    display: inline;
    position: absolute;
    padding: 8px 16px 8px 16px;
    margin: 2px 0 0 8px;
    background-color: #CC3333;
    color: #fff;
    font-size: 0.8em;
  }
}  
input[type="text"], input[type="password"] {
  border: {
    top: solid 3px #ccc;
    left: solid 3px #ccc;
    bottom: solid 3px #fff;
    right: solid 3px #fff;
  }
  background-color: #fff;
  color: #555;
  padding: 5px;
  width: 350px;
  @include border-radius(5px);
}
input[type="button"], input[type="submit"] {
//  border: solid 1px #888;
  border: none;
  @include border-radius(3px);
  background-color: #aaa;
  padding: 7px 8px 7px 8px;
  color: #fff;
  &:hover {
    background-color: #ccc;
  }
}
input[type="zcheckboxz"] {
  @include border-radius(2px);
//  -khtml-appearance: none;
  background-color: #888;
  vertical-align: middle;
  $length: 15px;
  width: $length;
  height: $length;
  margin: 0px;
  &:hover {background-color: #ddd;};
  &:checked {
   background-color: #FFFFCC;
//   border: solid 1px #6699CC;
  };
}

#login_error {
  @include border-radius(8px);
  @include clearfix;
  width: 7em;
  margin: 0 auto 16px auto;  
  padding: 11px;
  color: #fff;
  background-color: #CC3333;
  font-weight: bold;
  display: inline;
}

form#new_session {
  width: 300px;
  margin: 0 auto 0 auto;
  .fields {
    float: left;
    input[type="text"], input[type="password"] {
      display: block;
      margin-bottom: 8px;
      width: 283px;
      float: left;
    }
    label {
      float: left;
      margin-top: 11px;
    }
    input[type="submit"] {
      float: right;
      font-size: 1em;
      margin: 3px 0 8px 0;
    }
  }
  a {float: right;}
}

.nav {
  @include clearfix;
  padding: 1.5em 0 38px 0;
//    margin: 1em 0 1em 0;
  text-align: center;
  .new_list.button {
    padding: 0.8em;
    background-color: #888;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    @include border-radius(8px);
    &:hover {@include opacity(0.8);};
  }
}


#lists {
  @include clearfix;
  .list {
    @include clearfix;
    padding: 1em;
    padding-bottom: 1.2em;
    margin-bottom: 1px;
    background-color: #ddd;
    .handle {
      float: left;
      background-color: #888;
      color: #fff;
      font-size: 0.5em;
      padding: 0.5em;
      cursor: move;
      margin-right: 0.5em;
      cursor: url(/images/grab.png), default;
      &:active {cursor: url(/images/grabbing.png), default;};
    }
    .name {
      float: left;
      margin-left: 13px;
      width: 388px;
      .items_count {
        display: inline;
        color: #888;
        font-size: 0.5em;
        font-weight: bold;
      }
    }
    .delete.button {
      text-decoration: none;
      float: right;
    }
  }
}

#list {
  #info {
    text-align: center;
    margin: 8px 0 16px 0;
    #name {
      display: inline;
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
    }
    form {
      input[type="text"] {
        margin-left: auto;
        margin-right: auto;
        display: inline;
        width: 300px;
      }
      .loader {
        padding: 8px;
        position: absolute;
        visibility: hidden;
      }
    }
  }
  form#new_item {
    text-align: center;;
    margin-bottom: 32px;
    margin-top: 32px;
    .fields{
      display: inline;
      #item_body {width: 300px; margin-right: 11px;}
      input[type="submit"] {width: 80px;}
    }
    .loader {
      margin: 8px 0 8px 3px;
      position: absolute;
      visibility: hidden;
    }
  }
  .items {
    @include border-radius(7px);
    .item {
      @include clearfix;
      $top-color: #bbb;
      $bottom-color: #999;
      cursor: url(/images/grab.png), default;
      @include border-radius(5px);
      background-color: #ddd;
      color: #333;
      margin-bottom: 3px;
      font-size: 0.8em;
      @include clearfix;
      &:active {cursor: url(/images/grabbing.png), default;}
      &:hover {
//        background-color: #e5e5e5;
        @include opacity(0.7);
      }
      .checkbox_wrapper {
        display: inline;
        float: left;
        padding: 11px;
        cursor: default;
      }
      .item_complete {
        float: left;;
      }
      .body {
        padding: 10px 0 8px 0;
        float: left;
        width: 388px;
        line-height: 1.8em;
      }
      input.item_body {
        float: left;
        width: 393px;
        padding: 0px;
        margin: 12px 0 12px 0;
      }
      .loader {
        margin: 12px 0px 12px 12px;
        visibility: hidden;
        float: left;
      }
      .delete_wrapper {
        .delete.button {
          float: right;
          padding: 12px;
          text-decoration: none;
          color: #aaa;
          &:hover {color: #c60;};
        }
      }
    }
    .item.complete {
      background-color: #eee;
      color: #aaa;
      .delete.button {
        @include opacity(0.5);
        &:hover {@include opacity(0.3);}
      }
    }
  }
  #completed_items {
    margin-bottom: 32px;
    .item {cursor: default;}
  }
  
  #hint {
    display: none;
    text-align: center;
    padding: 16px;
    margin-top: 32px;
    color: #aaa;
    background-color: #fff;
    @include border-radius(8px)
  }
}