/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/box";

body {
//  background: url('/images/bg.png');
  background-color: #ddd;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  color: #777;
  #container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    #header {
      @include clearfix;
      @include border-bottom-radius(8px);
      background-color: #ddd;
      padding: 16px 0 16px 0;
      margin-bottom: 1px;
      #my_lists {
        font-weight: bold;
        font-size: 1.2em;
      }
      #account {
        float: right;
      }
      a:link {text-decoration: none;}
    }
  }
}

a {
  &:link {
    color: #888; 
//    text-decoration: none;
  };
  &:visited {color: #888;}
  &:hover {color: #aaa;}
}

.formtastic {
  li {margin: 8px 0 8px 0;}
  label {
    display: block;
    margin-bottom: 8px;
  }
  abbr {color: #993333;}
  .inline-errors {
    @include border-radius(16px);
    display: inline;
    position: absolute;
    padding: 8px 21px 8px 21px;
    margin-top: 2px;
    background-color: #CC3333;
    color: #fff;
    font-size: 0.8em;
  }
}  
input[type="text"], input[type="password"] {
//  border: solid 3px #ccc;
  padding: 5px;
  @include border-radius(5px);
}
input[type="button"], input[type="submit"] {
//  border: solid 1px #888;
  border: none;
  @include border-radius(3px);
  background-color: #aaa;
  padding: 7px 8px 7px 8px;
  color: #fff;
  &:hover {
    background-color: #ccc;
  }
}
input[type="checkbox"] {
  @include border-radius(2px);
  -khtml-appearance: none;
  background-color: #888;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  &:hover {background-color: #aaa;};
  &:checked {
   background-color: #CCFFFF;
//   border: solid 1px #6699CC;
  };
}

form#new_session {
  text-align: center;
  input[type="submit"] {width: 100px;}
  a {display: inline;}
}

.nav {
  @include clearfix;
  padding: 1.5em 0 38px 0;
//    margin: 1em 0 1em 0;
  text-align: center;
  .new_list.button {
    padding: 0.8em;
    background-color: #888;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    @include border-radius(8px);
  }
}


#lists {
  @include clearfix;
  .list {
    @include clearfix;
    padding: 1em;
    padding-bottom: 1.2em;
    margin-bottom: 1px;
    background-color: #ccc;
    .handle {
      float: left;
      background-color: #888;
      color: #fff;
      font-size: 0.5em;
      padding: 0.5em;
      cursor: move;
      margin-right: 0.5em;
      cursor: url(/images/grab.png), default;
      &:active {cursor: url(/images/grabbing.png), default;};
    }
    .name {
      float: left;
      margin-left: 13px;
      width: 388px;
//      background-color: #aaa;
    }
    .delete.button {
      text-decoration: none;
      float: right;
    }
  }
}

#list {
  #info {
    text-align: center;
    margin: 8px 0 16px 0;
    #name {
      display: inline;
      font-size: 1.5em;
      font-weight: bold;
//      color: #555;
    }
    form {
      background-color: #ddd;
      input[type="text"] {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 455px;
      }
    }
  }
  form#new_item {
    text-align: center;;
    margin-bottom: 16px;
    margin-top: 8px;
    #item_body {width: 300px; margin-right: 11px;}
    input[type="submit"] {width: 80px;}
  }
  .items {
    background-color: #ddd;
    @include border-radius(7px);
    .item {
      @include clearfix;
      $top-color: #bbb;
      $bottom-color: #a3a3a3;
//      @include box-shadow(#aaa, 1px, 0px, 2px);
      @include border-radius(5px);
      background-color: #777;
      @include linear-gradient(color-stops($top-color, $bottom-color));
      color: #fff;
      padding: 0.8em;
      margin-bottom: 3px;
      font-size: 0.8em;
      @include clearfix;
      cursor: default;
      &:hover {
        $top-color-light: lighten($top-color, 5);
        $bottom-color-light: lighten($bottom-color, 5);
        @include linear-gradient(color-stops($top-color-light, $bottom-color-light));
      }
      .item_complete {
        float: left;;
      }
      .body {
        margin: 2px 0 5px 10px;
        float: left;
        width: 421px;
        font-weight: bold;
      }
      input[type="text"] {
        float: left;
        width: 421px;
        padding: 0px;
        margin: 1px 0 0px 10px;
      }  
      .delete.button {
        float: right;
        &:hover {@include opacity(0.5);};
        margin-top: 1px
      }
    }
    .item.complete {
      @include linear-gradient(color-stops(#ccc, #ccc));
      background-color: #ccc;
    }
  }
  #completed_items {
    margin-top: 2em;
  }
  
  #hint {
    text-align: center;
    padding: 16px;
    margin-top: 32px;
    color: #aaa;
    background-color: #fff;
    @include border-radius(8px)
  }
}