-semantic_form_for @feedback do |form|
  -form.inputs do
    -email = current_user && current_user.email || ''
    =form.input :email, :label => "your email address"
    =#text_area_tag "feedback[body]", '', :class => 'field'
    =form.input :body, :as => :text
    =submit_tag "submit feedback"
    
:javascript
  $(document).ready(function(e) {
    $("#new_feedback #feedback_email").select();
  });