!!!
!!!XML
%html
  %head
    %title
      ="TinkerTask"
      =" | #{@title}" if @title
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    %meta(name="keywords" content="todo list, todo, to-do list, to-do, task, task manager, organizer")
    %meta(name="description" content="Simple, elegant todo lists.")
    =stylesheet_link_tag "compiled/screen"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"
    =render :partial => "/google_analytics"
  %body
    #container
      #header
        -if current_user
          -unless controller_name == 'lists' && action_name == 'index'
            =link_to(image_tag("arrow_left.png")+"back to my lists", lists_path, :class => 'top_nav')
        -else
          -unless controller_name == 'session'
            =link_to(image_tag("arrow_left.png")+"Home", "/", :class => 'top_nav')
        #account
          -if current_user
            =link_to h(current_user.username), edit_user_path
            %span.separator .
            =link_to 'logout', session_path, :method => "delete"
      #content
        =yield
      #footer
        -unless controller_name == 'feedbacks'
          %a.feedback{:href => new_feedback_path}
            =image_tag("logo_tiny_dim.png", :title => "Tinker the taskbot", :class => 'logo') unless controller_name == 'session'
            feedback
