!!!
!!!XML
%html
  %head
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"
  %body
    #header
      welcome
      =current_user.username if current_user
    =yield