!!!
!!!XML
%html
  %head
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    =stylesheet_link_tag "compiled/screen"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"
    %title
      =@title || "lists"
  %body
    #container
      #header
        -if current_user
          -unless controller_name == 'lists' && action_name == 'index'
            =link_to("< back to my lists", lists_path, :id => "my_lists")
        #account
          -if current_user
            =link_to h(current_user.username), edit_user_path
            %span.separator .
            =link_to 'logout', session_path, :method => "delete"
      #content
        =yield
      #footer
        (c)